.extension-color-modifier-app {

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .extension-color-modifier-color-picker-wrapper {
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between;
  }

  .extension-color-modifier-color-previewer {
    width: 225px;
    height: 50px;
    border-radius: 2px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
  }

  .extension-color-modifier-buttons {
    margin-top: 20px;
    width: 225px;
    display: flex;
    justify-content: space-between;

    .extension-color-modifier-button {
      margin: 0;
      border: none;
      height: 25px;
      border-radius: 2px;
      width: 70px;
      background-color: #ffffff;
      color: rgb(150, 150, 150);
      font-size: 11px;
      font-family: Tahoma, Geneva, sans-serif;
      cursor: pointer;
    }
  }

  .extension-color-modifier-id-or-class-radios-wrapper {
    margin-top: 20px;
    height: 50px;
    width: 225px;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &>div {
      width: 225px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .extension-color-modifier-id-or-class-radios-label {
      font-size: 11px;
      color: rgb(150, 150, 150);
      margin: 0;
      margin-left: 15px;
      margin-top: auto;
      margin-bottom: auto;

      &.disabled {
        color: #DDDDDD;
      }
    }

    input {
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 15px;
    }
  }
}