.extension-color-modifier-app {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .extension-color-modifier-color-picker-wrapper {
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between;
  }

  .extension-color-modifier-color-previewer {
    width: 225px;
    height: 50px;
    border-radius: 2px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
  }

  .extension-color-modifier-buttons {
    margin-top: 20px;
    width: 225px;
    display: flex;
    justify-content: space-between;
  }

  .extension-color-modifier-bg-or-font-switch-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 225px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 2px;
  }

  .extension-color-modifier-id-or-class-radios-wrapper {
    margin-top: 20px;
    height: 60px;
    width: 265px;
    background-color: #ffffff;
    border-radius: 2px;

    .ant-radio-group {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .ant-radio-wrapper {
        margin-left: 15px;
      }
    }
  }
}